<article
  class="article-container"
  role="link"
  tabindex="0"
  (click)="openArticle(article.url)"
>
  <img [src]="article.photoUrl" alt="alttext" class="article-img" />
  <div class="header">
    <img
      [src]="article.authors[0].photoUrl"
      alt="Photo of the author"
      class="profile-photo"
    />
    <span class="author-details"> by {{ article.authors[0].name }}</span>
  </div>
  <div class="content">
    <h3 class="article-title">
      {{ article.title }}
    </h3>
    <span class="light-text">{{ article.description }} </span>
  </div>
</article>
