<app-hero-banner [title]="'About Us'"> </app-hero-banner>
<section class="about-us-content">
  <div class="desc">
    Omnibus is a healthcare study group we started that focuses on spreading
    healthcare knowledge and promoting health education. The name is Latin for
    “for all” , which conveys our hope and goal. As high school students, we
    progress by translating concepts in research papers into everyday language
    so everyone can understand health issues around them and learn to protect
    themselves. We all hope, with our effort, to make the world a better place.
  </div>
  <div class="about-us-container">
    <div>
      <h2>Meet the Members</h2>
    </div>
    <div class="authors-container">
      @for (author of AUTHORS; track author.photoUrl) {
      <app-author-card [author]="author"> </app-author-card>
      }
    </div>
  </div>
</section>
