<!-- ICONS: -->
<!-- https://fonts.google.com/icons?icon.set=Material+Icons&icon.style=Filled -->

<mat-toolbar class="toolbar">
  <button mat-button>Basic</button>
  <button class="toolbar-btn" mat-icon-button aria-label="Home">
    <mat-icon>home</mat-icon>
  </button>
  <!-- <span class="example-spacer"></span> -->
  <button class="toolbar-btn" mat-button aria-label="About Us">About Us</button>
  <button class="toolbar-btn" mat-button aria-label="Contact">
    <span>Contact</span>
  </button>
</mat-toolbar>
