<div class="card">
  <div class="img-container">
    <img [src]="author.photoUrl" class="author-img" />
  </div>
  <div>
    <div>
      <h3>{{ author.name }}</h3>
    </div>
    <div class="desc">{{ author.description }}</div>
    <div class="icons">
      @for(c of author.contact; let i = $index; track c.url) { @if(c.method ===
      "email") {
      <button
        (click)="copyToClipboard(c.url)"
        class="icon-btn"
        mat-icon-button
        [matTooltip]="c.url"
        [matTooltipPosition]="'above'"
        aria-label="Email"
      >
        <mat-icon>email</mat-icon>
      </button>
      } @else if (c.method === "insta") {
      <button
        (click)="openIg(c.url)"
        class="icon-btn"
        mat-icon-button
        aria-label="Instagram"
        [title]="c.url"
      >
        <img src="../../../../assets/images/ig.svg" />
      </button>
      } }
    </div>
  </div>
</div>
